:host {
  display: flex;
  flex-direction: column;
}

google-map {
  position: relative;
  margin: 70px 0;
}

.address-top-left,
.address-bottom-right {
  position: absolute;
  background: #945030;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #FEF6E9;
  font-size: 0.8rem;

  i {
    font-size: 1.8rem;
    margin-right: 10px;
  }
}

.address-top-left {
  left: -15px;
  top: -39.5px;
  width: 185px;
}

.address-bottom-right {
  bottom: -39.5px;
  right: -15px;
  width: 240px;
}

::ng-deep .previous,
::ng-deep .next {
  position: absolute;
  z-index: 1;
  font-size: 1.3rem;
  top: 50%;
  transform: translateY(-50%);
}

::ng-deep .previous {
  left: 10px;
}

::ng-deep .next {
  right: 10px;
}

::ng-deep .slick-dots {
  li.slick-active button:before,
  li button:before {
    color: #945030;
  }

  li.slick-active button:before {
    opacity: 1;
  }

  li {
    margin: 0;
  }
}