<aldero-page-title pageTitle="LOCATION"></aldero-page-title>

<google-map height="325px" width="100%" [options]="options">
  @for (location of locations; track location) {
    <map-advanced-marker
      #markerElem="mapAdvancedMarker"
      [position]="{ lat: location.lat, lng: location.lng}"
      [content]="location.marker"
    />
  }
  <div class="address-top-left">
    <p>
      <span class="bold">Stadhuis</span><br>
      Grote Markt<br>2000 Antwerpen
    </p>
    <i
      class="fa-solid fa-diamond-turn-right"
      (click)="getDirections(eDestionation.ANTWERP)"
    ></i>
  </div>
  <div class="address-bottom-right">
    <p>
      <span class="bold">Hof Van Riemen</span><br>
      Orshagenstraat 11<br>
      2220 Heist-op-den-Berg
    </p>
    <i
      class="fa-solid fa-diamond-turn-right"
      (click)="getDirections(eDestionation.HOF_VAN_RIEMEN)"
    ></i>
  </div>
</google-map>

<aldero-subtitle
  title="Hof Van Riemen"
></aldero-subtitle>

<ngx-slick-carousel class="carousel" 
  #slickModal="slick-carousel" 
  [config]="slideConfig"
>
  @for (image of images; track image.src) {
    <div ngxSlickItem class="slide">
      <img src="{{ image.src }}" width="100%">
    </div>
  }
</ngx-slick-carousel>
