:host {
  background-color: #945030;
  color: #FEF6E9;
  display: flex;
  font-size: 1.7rem;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.mobile-menu {
  background-color: #945030;
  display: flex;
  flex-direction: column;
  gap: 24px;
  top: 80px; // offset the height of the navigation bar
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 30px 30px;
}