<h1 class="title">RSVP</h1>

<section *ngIf="showStepZero">
  <p class="subtitle">
    <span class="bold">
      Répondez s-il vous plaît
    </span>
    <br>
    Laat ons hier weten of je erbij kan zijn!
  </p>

  <form [formGroup]="form">
    <div class="first-name">
      <label for="firstName">
        Voornaam
      </label>
      <input
        #firstName
        [formControl]="form.controls.firstName"
        class="aldero-input"
        type="text"
      >
    </div>
    <div class="last-name">
      <label for="lastName">
        Achternaam
      </label>
      <input
        #lastName
        [formControl]="form.controls.lastName"
        class="aldero-input"
        type="text"
      >
    </div>
    <button
      class="aldero-button primary"
      [disabled]="form.invalid || isLoading"
      (click)="requestInvitation()"
    >
      <span *ngIf="!isLoading">Vind mijn uitnodiging</span>
      <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
    </button>
  </form>
</section>

<!-- ANTWERP -->
<section *ngIf="showAntwerp && !isLoading">
  <div class="event-header">
    <p class="subtitle">
      <span class="bold">
        Burgerlijke trouw
      </span>
      <br>
      Stadhuis Antwerpen
    </p>
    <p class="timeslot">11u00</p>
  </div>

  <div class="selection" *ngFor="let guest of rsvpService.currentHousehold">
    <p class="bold">{{ guest.firstName }} {{ guest.lastName }}</p>
    <div class="selection-btns">
      <button
        class="aldero-button"
        [ngClass]="[guestIsComing(eActivity.ANTWERP, guest) ? 'primary' : 'secondary']"
        (click)="selectAnswer(eActivity.ANTWERP, eSelectionAnswer.COMING, guest)"
      >Ik kom</button>
      <button
        class="aldero-button"
        [ngClass]="[guestIsNotComing(eActivity.ANTWERP, guest) ? 'primary' : 'secondary']"
        (click)="selectAnswer(eActivity.ANTWERP, eSelectionAnswer.NOT_COMING, guest)"
      >Ik kom niet</button>
    </div>
  </div>

  <button
    class="aldero-button primary"
    [disabled]="!submitStepEnabled(eActivity.ANTWERP)"
    (click)="submitAnswers(eActivity.ANTWERP)"
  >Ga verder</button>
</section>
<!-- END ANTWERP -->

<!-- CEREMONY -->
<section *ngIf="showCeremony && !isLoading">
  <div class="event-header">
    <p class="subtitle">
      <span class="bold">
        Ceremonie en Receptie
      </span>
      <br>
      Hof Van Riemen
    </p>
    <p class="timeslot">15u00 tot 19u00</p>
  </div>

  <div class="selection" *ngFor="let guest of rsvpService.currentHousehold">
    <p class="bold">{{ guest.firstName }} {{ guest.lastName }}</p>
    <div class="selection-btns">
      <button
        class="aldero-button"
        [ngClass]="[guestIsComing(eActivity.CEREMONY, guest) ? 'primary' : 'secondary']"
        (click)="selectAnswer(eActivity.CEREMONY, eSelectionAnswer.COMING, guest)"
      >Ik kom</button>
      <button
        class="aldero-button"
        [ngClass]="[guestIsNotComing(eActivity.CEREMONY, guest) ? 'primary' : 'secondary']"
        (click)="selectAnswer(eActivity.CEREMONY, eSelectionAnswer.NOT_COMING, guest)"
      >Ik kom niet</button>
    </div>
  </div>

  <button
    class="aldero-button primary"
    [disabled]="!submitStepEnabled(eActivity.CEREMONY)"
    (click)="submitAnswers(eActivity.CEREMONY)"
  >Ga verder</button>
</section>
<!-- END ANTWERP -->

<!-- DINER -->
<section *ngIf="showDiner && !isLoading">
  <div class="event-header">
    <p class="subtitle">
      <span class="bold">
        Diner
      </span>
      <br>
      Hof Van Riemen
    </p>
    <p class="timeslot">19u00 tot 21u00</p>
  </div>

  <div class="selection" *ngFor="let guest of rsvpService.currentHousehold">
    <p class="bold">{{ guest.firstName }} {{ guest.lastName }}</p>
    <div class="selection-btns">
      <button
        class="aldero-button"
        [ngClass]="[guestIsComing(eActivity.DINER, guest) ? 'primary' : 'secondary']"
        (click)="selectAnswer(eActivity.DINER, eSelectionAnswer.COMING, guest)"
      >Ik kom</button>
      <button
        class="aldero-button"
        [ngClass]="[guestIsNotComing(eActivity.DINER, guest) ? 'primary' : 'secondary']"
        (click)="selectAnswer(eActivity.DINER, eSelectionAnswer.NOT_COMING, guest)"
      >Ik kom niet</button>
    </div>
  </div>

  <button
    class="aldero-button primary"
    [disabled]="!submitStepEnabled(eActivity.DINER)"
    (click)="submitAnswers(eActivity.DINER)"
  >Ga verder</button>
</section>
<!-- END DINER -->

<!-- PARTY -->
<section *ngIf="showParty && !isLoading">
  <div class="event-header">
    <p class="subtitle">
      <span class="bold">
        Party Time
      </span>
      <br>
      Hof Van Riemen
    </p>
    <p class="timeslot">21u00</p>
  </div>

  <div class="selection" *ngFor="let guest of rsvpService.currentHousehold">
    <p class="bold">{{ guest.firstName }} {{ guest.lastName }}</p>
    <div class="selection-btns">
      <button
        class="aldero-button"
        [ngClass]="[guestIsComing(eActivity.PARTY, guest) ? 'primary' : 'secondary']"
        (click)="selectAnswer(eActivity.PARTY, eSelectionAnswer.COMING, guest)"
      >Ik kom</button>
      <button
        class="aldero-button"
        [ngClass]="[guestIsNotComing(eActivity.PARTY, guest) ? 'primary' : 'secondary']"
        (click)="selectAnswer(eActivity.PARTY, eSelectionAnswer.NOT_COMING, guest)"
      >Ik kom niet</button>
    </div>
  </div>

  <button
    class="aldero-button primary"
    [disabled]="!submitStepEnabled(eActivity.PARTY)"
    (click)="submitAnswers(eActivity.PARTY)"
  >Ga verder</button>
</section>
<!-- END PARTY -->
