<h1 class="title">RSVP</h1>

<section *ngIf="showStepZero">
  <p class="subtitle">
    <span class="bold">
      Répondez s-il vous plaît
    </span>
    <br>
    Laat ons hier weten of je erbij kan zijn!
  </p>

  <form [formGroup]="form">
    <div class="first-name">
      <label for="firstName">
        Voornaam
      </label>
      <input
        #firstName
        [formControl]="form.controls.firstName"
        class="aldero-input"
        type="text"
      >
    </div>
    <div class="last-name">
      <label for="lastName">
        Achternaam
      </label>
      <input
        #lastName
        [formControl]="form.controls.lastName"
        class="aldero-input"
        type="text"
      >
    </div>
    <button
      class="aldero-button primary"
      [disabled]="form.invalid || isLoading"
      (click)="requestInvitation()"
    >
      <span *ngIf="!isLoading">Vind mijn uitnodiging</span>
      <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
    </button>
  </form>
</section>

<section *ngIf="showStepOne && !isLoading">
  <p style="font-weight: bold;">Selected Household:</p>
  <p *ngFor="let guest of rsvpService.currentHousehold">{{ guest.firstName }} {{ guest.lastName }}</p>
</section>
