/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: crimson-foam;
  src: url(assets/fonts/Crimson_Foam_Font.otf) format("opentype");
}

html, body {
  background-color: #FEF6E9;
  color: #945030;
  font-family: 'Roboto Serif';
  font-weight: 200;
  font-size: 14px;
  padding: 0;
  margin: 0;

  p {
    font-size: 14px;
    line-height: 1.4rem;
    margin: 0;
  }

  h1 {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
  }
}

* {
  box-sizing: border-box;
}

.aldero-button {
  appearance: none;
  border: none;
  font-family: 'Roboto Serif';
  font-size: 14px;
  padding: 14px 20px;

  &.primary {
    background-color: #945030;
    color: #FEF6E9;
  }
  
  &.outlined-primary {
    background-color: transparent;
    border: solid 1px #945030;
    color: #945030;
  }

  &.outlined-secondary {
    background-color: transparent;
    border: solid 1px #FEF6E9;
    color: #FEF6E9;
  }
  
  &:disabled {
    opacity: 0.3;
  }

  &:hover {
    cursor: pointer;
  }
}

.aldero-input {
  -webkit-appearance: none;
  appearance: none;
  background: #FEF6E9;
  border: solid 1px #945030;
  border-radius: 0px;
  color: #945030;
  font-family: 'Roboto Serif';
  font-size: 12px;
  outline: none;
  padding: 14px;
}

.bold {
  font-weight: bold;
}

@media only screen and (min-width: 992px) {
  html, body {
    p {
      font-size: 16px;
      line-height: 2rem;
      margin: 0;
    }
  
    h1 {
      font-size: 40px;
      font-weight: 300;
      margin: 0;
    }
  }

  .aldero-button {
    font-size: 16px;
    padding: 16px 20px;
  }
}