<section class="welcome">
  <h1 class="title">We are getting married</h1>
  <i class="fa-solid fa-heart"></i>
  <div class="content">
    <p>
      Vrijdag 13 september 2024 geven wij elkaar het ja-woord en klinken we in het Hof Van Riemen.
    </p>
    <p>
      We hopen dat jij er die dag ook bij bent om samen met ons te vieren!
    </p>
  </div>
  
  <button
    class="aldero-button outlined-secondary"
    [routerLink]="['/rsvp']"
  >Bevestig je aanwezigheid</button>
</section>

<div class="image-container">
  <img src="assets/images/kissy-kissy.png" alt="aldero">
</div>

