:host {
  display: block;
  padding: 30px;
}

img {
  width: 100%;
}

.home-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-right: -4px;

  .name {
    font-family: 'Josefin Sans';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 6px;
  }

  .and {
    font-family: crimson-foam;
    font-size: 96px;
  }
}

.home-subtitle {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

p {
  margin: 0;
}